<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.zest"
            name="Visualization">
      </category>
      <wizard
            category="org.eclipse.zest"
            class="org.eclipse.zest.dot.ZestGraphWizard"
            icon="resources/icons/graph.gif"
            id="org.eclipse.zest.dot.ui.ZestGraphWizard"
            name="Zest Graph">
      </wizard>
   </extension>

</plugin>
